.aside {
  background-color: #e7e9eb;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 200px;
}

.aside button {
  all: unset;
  background-color: #e7e9eb;
  min-width: 100%;
  text-align: center;
  font-size: 17px;
  min-height: 40px;
}
.aside button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.selected {
  background: #04aa6d !important;
}
