.aside {
 
  background-color: #E7E9EB;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: 2 / 1 / 6 / 2;
}

.aside button {
    all:unset;
    background-color: #E7E9EB;
    width: 100%;
    text-align: center;
    font-size: 17px;
    height:40px;

}
.aside button:hover {
    filter: brightness(85%);
    cursor:pointer;
}

.selected {
    background: #04AA6D !important;
}
