.table {
    border: 1px black solid;
    padding: 10px;
    border-radius: 3px;
}

.table tr {
    border-radius: 10px solid black;
}

.actions {
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
   
    margin-left: 10px;
    background-color: #04AA6D;
    width: 44px;
    height: 44px;
    font-size: x-small;
}