.ul {
    max-height: 400px;
    overflow: overlay;
    display:flex;
    flex-direction: column;
    border: 1px black solid;
    margin: 30px;
    padding:30px;
    width: 60%;
}

.ul li {
    display: flex;
    width: 90%;
    justify-content:space-between;
    border: 1px solid black;
    padding:10px;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    flex-direction: row;
}

.actions button {
    width: 44px;
    height: 44px;
    font-size: x-large;
}