.button {
    all:unset;
    
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 12px 14px 10px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 12px 14px 10px -6px rgba(0,0,0,0.51);
    box-shadow: 12px 14px 10px -6px rgba(0,0,0,0.51);
}

.button:hover {
    filter: brightness(90%);
    cursor:pointer;
}